* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Merriweather Sans";
}
body {
  background-color: #22212c;
  display: flex;
}

h1,
p,
h2,
h3,
a,
li {
  color: #837e9f;
}
h2{
  font-size: 25px;
  margin-left: 4%;
}
/* Style Box perfil*/
.Box-perfil {
  background-color: #302f3d;
  width: 90%;
  height: 30%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 20px;
  padding-top: 4%;
  padding-left: 10%;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

#img-perfil {
  width: 170px;
  height: 170px;
  margin-left: 3%;
  border: 2px solid #00ff00;
  border-radius: 50%;
}

#nome {
  margin-left: 2%;
  font-size: 26px;
}
#descricao {
  margin-left: 3%;
  font-size: 18px;
}

/* Style Box Contato*/
.Box-Contato {
  background-color: #302f3d;

  width: 90%;
  height: 24%;

  margin-top: 4%;
  margin-left: 5%;
  border-radius: 20px;
  position: relative;

  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

#img-cnt {
  padding-left: 4%;
  padding-top: 4%;
  margin-right: 2%;
}
#a-cnt,
#a-cnt-b{
  text-decoration: none;
  font-size: 16px;
}
#a-cnt-c{
    font-size: 13px;
    text-decoration: none;
}
#a-cnt-b:hover {
    color:#837e9f;
  cursor: unset;
}

/*Box tencologias*/

.Box-Tecnologias {
  background-color: #302f3d;

  width: 90%;
  height: 24%;

  border-radius: 20px;

  margin-top: 4%;
  margin-left: 5%;

  padding-left: 3%;
  padding-top: 2%;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

#tecnologias {
}

.div-text-tec {
  display: inline-grid;
  background: #cb92b1;

  border-radius: 30px;
  margin-top: 13px;

  width: 86px;
  height: 24px;

  text-align: center;
}
.div-text-tec,
#p-tec {
  padding-top: 2px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
}

/* box-educ*/
.box-educ {
  background-color: #302f3d;

  margin-top: 4%;
  margin-left: 5%;
  

  width: 90%;
  height: 35%;

  border-radius: 20px;

  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  padding-left: 3%;
  padding-top: 2%;

}

.educ {
  margin-top: 5%;
}
li {
  margin-top: 3%;
}


/* Titulo da parte de projetos */
.Titulo-projetos {
  background-color: #302f3d;
  margin-top: 1%;
  padding-left: 2%;

  width: 60rem;
  height: 4.5%;

  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* caixas dos projetos */
.boxs-projetos{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    margin-left: 1%;
    margin-top: 1%;
    background-color: #302f3d;
    color: #837e9f;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media(max-width: 800px){
body{
  display: inline;
}

.Box-perfil{
  padding-left: 19%;
}



.Titulo-projetos{
  width: 91%;
  margin-left: 4%;
}

section{
  justify-content: center;
}

.Box-Tecnologias{
  padding-bottom: 15px;
}
.div-text-tec{
  margin-left: 4%;
}
}