*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Merriweather Sans;
}
body{
    background-color:  #22212C;
    display: flex;
}

h1, p, h2, h3, a {
    color: #837E9F;
}

/* Style Box perfil*/
.Box-perfil{
align-items: center;
background-color: #302F3D;

width: 83%;
height: 29%;

border-radius: 20px;
 position: relative;
 top: 1%;
 left: 10%;
}

#img-perfil{
    position: relative;
width: 128px;
height: 128px;
left: 34%;
top: 10%;

border: 2px solid #00FF00;
border-radius: 63px;
box-sizing: border-box;

}

#nome{
    position: relative;
    left: 25%;
    top: 10%;
}
#descricao{
    position: relative;
    top: 10%;
    left: 28%;
}


/* Style Box Contato*/
.Box-Contato{
    
    background-color: #302F3D;
    
    width: 83%;
    height: 292px;
    
    border-radius: 20px;
    position: relative;
    
    left: 10%;
    top: 2.8%;
    
}

#img-cnt{
    padding-left: 24px;
    padding-top: 24px;
margin-right: 10px;
 

}
#a-cnt, #a-cnt-b{
    text-decoration: none;
}
#a-cnt-b:hover{
    cursor: unset;
}

/*Box tencologias*/

.Box-Tecnologias{
    background-color: #302F3D;
    display: flow-root;
    
    width: 83%;
    height: 15%;
    
    border-radius: 20px;
    
    position: relative;

    left: 10%;
    top: 4%;
}

#tecnologias{
padding-top: 10px;
padding-left: 20px;
}

.div-text-tec{
    display: inline-grid;
    background: #CB92B1;

  

    border-radius: 30px;
    margin-top: 13px;
    margin-left: 10px;
width: 86px;
height: 24px;

text-align: center;
}
.div-text-tec, #p-tec{
    padding-top: 2px;
    color:#000000;
font-weight: 700;
font-size: 13px;

}

/* box-educ*/
.box-educ{
background-color: #302F3D;
    
    width: 83%;
    height: 30%;
    
    border-radius: 20px;
    position: relative;
    left: 10%;
    top: 6%;
}
#educacao{
    position: relative;
    left: 4%;
    top: 3%;

}
#educ{
    position: relative;
  left: 7%;
  top: 3%;
  
  
}
#p-educ{
  margin-left: 3%;
  margin-top: 3%;
}

/* Titulo da parte de projetos */
.Titulo-projetos{
    background-color: #302F3D;
    position: relative;

    top: 2%;
    padding-left: 2%;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-between;

    width: 50rem;
}

#p-titulo{
    padding-top: 3px;
    padding-right: 10px;
}

/* caixas dos projetos */
.boxs-projetos{
    display: flex;
    justify-content: space-between;
}


.projeto{
    background-color: #302F3D;
    width: 40%;
    margin-top: 2%;
}